@media (max-width: 768px) {
    .btn-group {
        width: 30%;
    }

    .pull-right {
        float: none !important;
        text-align: center;
    }
}

@media (min-width: 769px) {

}

button {
    color: black;
    background: none;
    border: none;
    border-radius: none;
    /* border: 2px solid black;
    border-radius: 2px;
    padding: 2px; */
    margin: 0;
}

button:hover {
    background: black;
    color: white;
}

button {
    width: 100%;
}

