<div class="row">
  <div class="col-xs-5">
    <div class="list long">
      <img *ngFor="let game of games" src="{{ game.cover }}">
    </div>
  </div>
  <div class="col-xs-7">
    <span class="long-list-info">
      <a [routerLink]="['/lists', list._id]" style="color: black">
        <h3>{{ list.title }}</h3>
      </a>
      <div class="attribution">
        <p>
          <!-- <img src="/assets/profile.png" class="img-circle"> -->
          <app-avatar [avatar]="list?.user?.avatar" [height]="'25px'" style="margin-right: 5px;"></app-avatar>
          <strong class="user"> {{ list.user.name }}</strong>
          <span style="vertical-align: middle">{{ list.games.length }} Games </span>
          <button style="padding: 0; border: none; background: none" (click)="toggleLike()" [disabled]="!authService.loggedIn() || (list?.user._id === authService.user._id)">
            <i class="fa fa-heart fa-1" [ngClass]="{ toggled: like }"> {{ list.likesCount }}</i>
          </button>
          <!-- <a href="#" class="like"><i class="fa fa-heart fa-1"> {{ list.likes.length }}</i></a> -->
          <span class="comment-data"><i class="fa fa-comment fa-1"> {{ list.comments.length }}</i></span>
        </p>
      </div>
    </span>
  </div>
</div>
<hr>
