<div class="list">
  <img src="/assets/SOTC.png">
  <img src="/assets/me.png">
  <img src="/assets/hl2.png">
  <img src="/assets/journey.png">
  <img src="/assets/SOTC.png">
</div>
<h3>Best Video Games Involving 16 Giant Bosses</h3>
<div class="attribution">
  <p>
    <img src="/assets/profile.png" class="img-circle">
    <strong class="user"> David Scheuermann</strong>
    <a href="#" class="like"><i class="fa fa-heart fa-1"> 1</i></a>
    <span class="comment-data"><i class="fa fa-comment fa-1"> 1</i></span>
  </p>
</div>
<hr>