<!-- <span class="delete" style="display: flex; position: absolute; left: 50px; top: 52px;" (click)="onDelete()">X</span> -->
 <span class="delete" style="display: flex; padding-top: 10px" (click)="onDelete()" *ngIf="ratingObj">X</span> 
<fieldset class="rating" [disabled]="disabled" [id]="name" (change)="onChange(value)">
    <input type="radio" id="star5" [name]="name" value="5" [(ngModel)]="rating"  [disabled]="disabled"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" [name]="name" value="4.5" [(ngModel)]="rating"  [disabled]="disabled"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" [name]="name" value="4" [(ngModel)]="rating"  [disabled]="disabled"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" [name]="name" value="3.5" [(ngModel)]="rating"  [disabled]="disabled"/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" [name]="name" value="3" [(ngModel)]="rating"  [disabled]="disabled"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" [name]="name" value="2.5" [(ngModel)]="rating"  [disabled]="disabled"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" [name]="name" value="2" [(ngModel)]="rating"  [disabled]="disabled"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" [name]="name" value="1.5" [(ngModel)]="rating"  [disabled]="disabled"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" [name]="name" value="1" [(ngModel)]="rating"  [disabled]="disabled"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" [name]="name" value=".5" [(ngModel)]="rating"  [disabled]="disabled"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset> 