span {
    display: inline-block;
}

.img-list {
	margin-top: 0;
	display: inline;
}

.img-list span {
	height: 70px; 
	width: 40px; 
	background: white; 
	margin-right: -30px; 
	border: 1px solid black; 
	border-radius: 4px; 
	box-shadow:2px 0 7px #000;
	position: relative;
}

.img-list span:nth-of-type(1) {
	z-index: 15;
}

.img-list span:nth-of-type(2) {
	z-index: 14;
}

.img-list span:nth-of-type(3) {
	z-index: 13;
}

.img-list span:nth-of-type(4) {
	z-index: 12;
}

.img-list span:nth-of-type(5) {
	z-index: 11;
	margin-right: 5px;
}

.component-label {
	margin-top: 20px;
	margin-bottom: 0px;
}

.component-rule {
	margin-top: 0;
}