<div class="list" [ngClass]="{large: type === 'large'}">
  <img *ngFor="let game of games" src="{{ game.cover }}">
</div>
<a [routerLink]="['/lists', list._id.toString()]" style="color: black">
  <h3>{{ list.title }}</h3>
</a>
<div class="attribution">
  <p>
    <a [routerLink]="['/', list?.user?.username]"><app-avatar [avatar]="list?.user?.avatar" [height]="'25px'" [type]="'list'" style="margin-right: 5px;"></app-avatar></a>
    <a [routerLink]="['/', list?.user?.username]" style="color: black;"><strong class="user"> {{ list.user.username }}</strong></a>
    <button style="padding: 0; border: none; background: none" (click)="toggleLike()" [disabled]="!authService.loggedIn() || (list?.user._id === authService?.user?._id)">
      <i class="fa fa-heart fa-1" [ngClass]="{ toggled: like }"> {{ list.likesCount }}</i>
    </button>
    <span class="comment-data"><i class="fa fa-comment fa-1"> {{ list.comments.length }}</i></span>
  </p>
</div>
<hr *ngIf="type !== 'large'">