<h2 style="text-align: center; margin: 40px;">Collect, curate, and share. Lists are the perfect way to group games.</h2>
<div style="margin: 0 auto; text-align: center;">
    <a class="btn btn-primary" routerLink="new">Create a New List</a>
</div>
<app-lists-feature></app-lists-feature>

<div class="row">
    <div class="col-md-7 col-xs-12">
        <p class="component-label">RECENT LISTS <a class="pull-right" routerLink="/lists/recent">MORE</a></p>
        <hr class="component-rule">
        <app-long-lists-list [lists]="lists.slice(5, 10)"></app-long-lists-list>
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-12">
        <p class="component-label">STAFF PICKS</p>
        <hr class="component-rule">
        <app-lists-list [lists]="lists.slice(0, 5)"></app-lists-list>
    </div>
</div>