@media (max-width: 768px) { 
	.attrib-rating {
		display: block;
	}
}

@media (min-width: 769px) {
	.attrib-rating {
		display: inline-block;
	}
}

app-star-rating {
	display: inline-block; font-size: 8px; vertical-align: middle;
}

.thumb {
	height: 118px;
	/* width: 90px; */
	width: 100%;
	max-width: 90px;
	border-radius: 4px;
}

.attrib-rating > span {
    display: inline-block;
}

.attrib-rating > span {
	margin-left: 5px;
}

.rating i {
	float: left;
}

.rating {
	vertical-align: middle;
}

.attribution img {
	height: 25px;
	margin-right: 5px;
}

.attribution.comment-data {
	vertical-align: middle;
}

.user {
	vertical-align: middle;
}

i {
	color: gray;
}

.toggled {
	color: black;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

h1	{
	margin-top: 0;
}