<div *ngIf="decade && years">
    <a class="last-decade-button" [routerLink]="['/games/by/decade', decade-10]">
      <i class="fa fa-play fa-rotate-180"></i>
    </a>
    <nav class="navbar"> 
      <ul class="nav navbar-nav navbar-center profile-nav">  
        <li id="decade">
          <a class="selected" [routerLink]="['/games/by/decade', decade]">{{ decade }}s</a>
        </li>
        <li class="year" *ngFor="let year of years">
          <a [routerLink]="['/games/by/decade', decade, 'by', 'year', year]">{{ year }}</a>
        </li>
      </ul>
    </nav>
    <a class="next-decade-button" [routerLink]="['/games/by/decade', decade+10]">
      <i class="fa fa-play"></i>  
    </a>
  </div>