<div class="row">
  <div class="col-xs-12">
    <p class="component-label">POPULAR GAMERS</p>
    <hr class="component-rule">
    <div class="gamer">
      <img src="/assets/profile.png" class="img-circle">
      <span style="vertical-align: middle">
        <h4>David Scheuermann</h4>
        <p>1,112 Films,4 Reviews, 3 Lists</p>
      </span>
      <i class="fa fa-plus-circle fa-3x" style="color: grey"></i>
    </div>
    <div class="gamer">
      <img src="/assets/profile.png" class="img-circle">
      <span style="vertical-align: middle">
        <h4>David Scheuermann</h4>
        <p>1,112 Films,4 Reviews, 3 Lists</p>
      </span>
      <i class="fa fa-plus-circle fa-3x" style="color: grey"></i>
    </div>
    <div class="gamer">
      <img src="/assets/profile.png" class="img-circle">
      <span style="vertical-align: middle">
        <h4>David Scheuermann</h4>
        <p>1,112 Films,4 Reviews, 3 Lists</p>
      </span>
      <i class="fa fa-plus-circle fa-3x" style="color: grey"></i>
    </div>
    <div class="gamer">
      <img src="/assets/profile.png" class="img-circle">
      <span style="vertical-align: middle">
        <h4>David Scheuermann</h4>
        <p>1,112 Films,4 Reviews, 3 Lists</p>
      </span>
      <i class="fa fa-plus-circle fa-3x" style="color: grey"></i>
    </div>
    <div class="gamer">
      <img src="/assets/profile.png" class="img-circle">
      <span style="vertical-align: middle">
        <h4>David Scheuermann</h4>
        <p>1,112 Films,4 Reviews, 3 Lists</p>
      </span>
      <i class="fa fa-plus-circle fa-3x" style="color: grey"></i>
    </div>
  </div>
</div>