<p class="component-label">RATINGS</p>
<hr class="component-rule">
<span class="rating-block">
  <span><i class="fa fa-star fa-1"></i></span>
  <span class="rating-graph">
    <span class="rating-bar"  *ngFor="let rating of graph?.ratings" style="width: 15px; height: 2px; background: black; margin: 0 1px; border-radius: 2px" [style.height]="rating === 0 ? '2px' : ((rating/max) * 30) + 'px'"></span>
    <!-- <span class="rating-bar" style="width: 15px; height: 4px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 6px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 19px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 13px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 11px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 15px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 22px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 26px; background: black; margin: 0 -1px; border-radius: 2px"></span>
    <span class="rating-bar" style="width: 15px; height: 30px; background: black; margin: 0 -1px; border-radius: 2px"></span> -->
  </span>
  <span>
    <p style="text-align: center; margin-bottom: 0">{{ rating?.toFixed(1) }}</p>
    <span class="rating">
      <i class="fa fa-star fa-1"></i>
      <i class="fa fa-star fa-1"></i>
      <i class="fa fa-star fa-1"></i>
      <i class="fa fa-star fa-1"></i>
      <i class="fa fa-star fa-1"></i>
    </span>
  </span>
</span>