@media (max-width: 768px) { 
	.popular .col-xs-3 {
        max-height: 150px;
    }

    .col-xs-3 {
        padding-right: 7px;
        padding-left: 7px;
    }
}

@media (min-width: 769px) {
	.popular .col-xs-3 {
        max-height: 390px;
    }
}

.row.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.row.equal .thumbnail {
    height: 100%;
    padding: 1px;
}

.row.equal .thumbnail > img {
    height: 100%;
}