<div class="row">
  <div class="col-xs-12">
    <div>
      <img src="/assets/SOTC.png" alt="" style="height: 118px; width: 90px;">
      <div style="display: inline-block">
        <h2 style="margin: 0">Shadow of the Colossus <small>2005</small></h2>
        <h3 style="margin: 0">Team Ico - Sony Computer Entertainment</h3>
      </div>
    </div>
    
    <hr>
    
    <div>
      <img src="/assets/SOTC.png" alt="" style="height: 118px; width: 90px;">
      <div style="display: inline-block">
        <h2 style="margin: 0">Shadow of the Colossus <small>2005</small></h2>
        <h3 style="margin: 0">Team Ico - Sony Computer Entertainment</h3>
      </div>
    </div>
   
    <hr>

    <div>
      <img src="/assets/SOTC.png" alt="" style="height: 118px; width: 90px;">
      <div style="display: inline-block">
        <h2 style="margin: 0">Shadow of the Colossus <small>2005</small></h2>
        <h3 style="margin: 0">Team Ico - Sony Computer Entertainment</h3>
      </div>
    </div>
    <hr>

  </div>
</div>
